# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
end_of_line = crlf

# Xml files
[*.xml]
indent_size = 2

# Dotnet code style
[*.{cs,vb}]
# Organize usings
dotnet_sort_system_directives_first = true

# Naming conventions
dotnet_naming_style.pascal_case_style.capitalization        = pascal_case
# Classes, structs, methods, enums, events, properties, namespaces, delegates must be PascalCase
dotnet_naming_rule.general_naming.severity                  = suggestion
dotnet_naming_rule.general_naming.symbols                   = general
dotnet_naming_rule.general_naming.style                     = pascal_case_style
dotnet_naming_symbols.general.applicable_kinds              = class,struct,enum,property,method,event,delegate
dotnet_naming_symbols.general.applicable_accessibilities    = *
